.projects-cover {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;

    h1 {
        color: rgb(0, 255, 0);
    }


    .projects {
        display: flex;
        flex-wrap: wrap;

        gap: 2rem;
        justify-content: center;
        padding: 2rem 1rem;
        align-items: flex-start;

        .card {
            width: 280px;
            border-radius: 21px;
            background-color: rgb(0, 0, 21);
            overflow: hidden;
            border: 1px solid rgb(52, 52, 52);
            transition: box-shadow 0.3s ease;

            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }

            .card-body {
                padding: 1rem;

                h3 {
                    margin: 0 0 0.5rem 0;
                    font-size: 1.3rem;
                    color: white;
                }

                p {
                    opacity: 0.7;
                    color: #ccc;
                    margin-bottom: 1rem;
                    font-size: 0.95rem;
                }

                a {
                    text-decoration: none;

                    button {
                        width: 100%;
                        padding: 0.6rem 1rem;
                        border: none;
                        background-color: gray;
                        color: white;
                        font-weight: 530;
                        font-size: 1rem;
                        border-radius: 0.3rem;
                        transition: background-color 0.3s ease;

                        i {
                            margin-left: 8px;
                        }

                        &:hover {
                            background-color: rgb(47, 153, 47);
                            cursor: pointer;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
            }
        }

        @media (max-width: 1024px) {
            .card {
                width: 45%;
            }
        }

        @media (max-width: 768px) {
            .card {
                width: 50%;
                border: 1px solid rgb(52, 52, 52);
            }
        }

        @media (max-width: 480px) {
            .card {
                width: 80%;
                border: 1px solid rgb(52, 52, 52);
            }

            .card-body {
                padding: 0.8rem;

                h3 {
                    font-size: 1.1rem;
                }

                p {
                    font-size: 0.9rem;
                }

                button {
                    font-size: 0.95rem;
                }
            }
        }
    }
}